<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>Palindrome Checker</h1>

  <form action="/result" method="post">
  <label for="palindrome">Type Word:</label>
  <input type="text" name="palindrome" class="form-control" id="palindrome">
  <button type="submit" class="btn btn-primary">Check</button>
</form>
